$navbar-default-bg: #8D8DB3;
$navbar-default-link-color: black;

nav.navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
$jumbotron-margin-bottom: 0px;

.jumbotron{
  background-image: asset-url("wolf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

footer {
  margin-top: 0px;
  background-color: #8D8DB3;
  padding-top: 15px;
  border-top: 1px solid #EAEAEA;
  height: 50px;
}

@import "bootstrap-sprockets";
@import "bootstrap";
